@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

html, body{
	margin: 0;
	padding: 0;
	background-color: #151515;
	background-image: url('back.jpg');
	background-repeat: space;
	color: #FFFFFF;
	font-size: xx-large;
}

* {
	font-family: 'Noto Sans';
	font-weight: 100;
}

form {
	display: inline;
}

input {
	background: none;
	font-size: xx-large;
	display: inline;
	border: none;
	color: #FFF;
}

.wrapper {
	background-color: #151515;
    display: flex;
    align-items: centre;
    justify-content: centre;
    height: 100%;
}